@model List<Food>

<a asp-action="Add" asp-controller="Home" asp-area="Admin" class="btn btn-primary  btn-sm my-2">Add </a>

<table class="table table-sm table-bordered table-hover mt-2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>PictureName</th>

    </tr>
    @foreach (var item in Model)
    {

<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Price</td>
    <td>@item.Description</td>
    <td>@item.ImageURL</td>
    @*asp-route data taşımaya yardım eder.  id diyerek bu datayı taşıyabilirim*@
<td>
    <a asp-action="UpdateFood" asp-controller="Home" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Update</a>
    <a asp-action="DeleteFood" asp-controller="Home" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>

</td>
    
</tr>
    }
</table>

