@model Food

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/img/@Model.ImageURL" class="w-100 img-thumbnail img-fluid"
                 alt="@Model.Name" />
        </div>
        @ViewBag.Cook
        @ViewBag.Ses
        <div class="col-md-9">
            <div class="card">
                <h5 class="card-header">
                    @Model.Name
                </h5>
                <div class="card-body">
                    <h5 class="card-title">@Model.Description</h5>
                    <p class="card-text">

                        <strong>Category :</strong>
                        @*Kendi eklemiş olduğum TagHelper sınıfımı çagırdım*@
                        <TagCategoryName food-id="@Model.Id"></TagCategoryName>
                        <br />
                        @Model.Price
                    </p>
                    <a asp-action="AddToBasket" 
                       asp-controller="Home"
                       asp-route-id="@Model.Id"
                       class="btn btn-danger float-right ml-1">
                        Add to Basket
                    </a>
                    <a asp-action="Index" asp-controller="Home"
                       class="btn btn-warning float-right">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
